{% from '@dls_web/macros/tags.html' import icon, url %}

<article id="{{ news.id }}" class="post c-block {{ loop.index0 is odd ? 'bg2' : 'bg1' }}">
	<div class="inner">
		<dl class="postprofile c-news-profile">
			<dt class="has-profile-rank has-avatar">
				<div class="avatar-container">{{ news.avatar }}</div>
				{{ news.author }}
			</dt>
			<dd class="profile-rank">{{ news.rank }}</dd>
		</dl>

		<section class="postbody">
			<h3>{{ url({'href': news.link}, news.title) }}</h3>
			<ul class="post-buttons">
				<li>
					<span class="button button-icon-only" title="{{ news.views }} {{ lang('VIEWS') }}">
						{{ icon('icon', 'eye fa-fw') }}<span class="sr-only">{{ lang('VIEWS') }}</span>
					</span>
				</li>
				<li>
					<span class="button button-icon-only" title="{{ news.replies }} {{ lang('REPLIES') }}">
						{{ icon('icon', 'commenting fa-fw') }}<span class="sr-only">{{ lang('REPLIES') }}</span>
					</span>
				</li>
			</ul>

			<p class="author">
				{{ url({'href': news.link, 'title': lang('POST')}, icon('icon', 'file-o fa-fw icon-md')) }}
				{{ lang('POST_BY_AUTHOR') }} {{ news.author }} &raquo; {{ news.date }}
			</p>

			<article class="content">
				{{ news.text ~ (news.is_trimmed ? lang('ELLIPSIS') ~ url({'href': news.link}, lang('READ_FULL'))) }}
			</article>

		</section>

		<div class="back2top">
			{{ url({'class': 'top', 'href': '#top', 'title': lang('BACK_TO_TOP')}, icon('icon', 'chevron-circle-up fa-fw icon-gray')) }}
			<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
		</div>
	</div>
</article>
