{% from '@dls_web/macros/tags.html' import icon, url %}
<ul>
{% for pagi in pagination %}
	{% if pagi.S_IS_PREV %}
		<li class="arrow-left">
			{{ url({'class': 'button2', 'href': pagi.PAGE_URL}, icon('fa', 'chevron-left fa-fw', null, lang('PREVIOUS'))) }}
		</li>
	{% elseif pagi.S_IS_CURRENT %}
		<li class="active"><span>{{ pagi.PAGE_NUMBER }}</span></li>
	{% elseif pagi.S_IS_ELLIPSIS %}
		<li class="ellipsis"><span>{{ lang('ELLIPSIS') }}</span></li>
	{% elseif pagi.S_IS_NEXT %}
		<li class="arrow-right">
			{{ url({'class': 'button2', 'href': pagi.PAGE_URL}, icon('fa', 'chevron-right fa-fw', null, lang('NEXT'))) }}
		</li>
	{% else %}
		<li>{{ url({'class': 'button2', 'href': pagi.PAGE_URL}, pagi.PAGE_NUMBER) }}</li>
	{% endif %}
{% endfor %}
</ul>
