{% embed '@dls_web/includes/block-item.html' %}

	{% block block_heading %}{{ lang('INFORMATION') }}{% endblock %}

	{% block block_content %}
		<ul class="t-no-style">
			<li class="c-stat-item"><strong>{{ lang('PORTAL_VERSION') }}</strong><span class="green">{{ core_stable }}</span></li>
			<li class="c-stat-item"><strong>{{ lang('PHPBB_VERSION') }}</strong><span class="green">{{ phpbb_version }}</span></li>
			<li class="c-stat-item"><strong>{{ lang('PORTAL_STYLE') }}</strong>{{ T_TEMPLATE_NAME }}</li>
			{% EVENT side_mid_info_after %}
		</ul>
	{% endblock %}

{% endembed %}
