{% embed '@dls_web/includes/block-item.html' %}
	{% from '@dls_web/macros/tags.html' import icon %}

	{% block block_heading %}{{ lang('LEADERS') }}{% endblock %}

	{% block block_content %}
		<ul class="t-no-style">
			<li class="c-stat-head"><strong>{{ lang('USERNAME') }}</strong><span class="t-heading-right"><strong>{{ lang('POSTS') }}</strong></span></li>
		{% for posters in top_posters %}
			<li>{{ loop.index ~ '.' ~ icon('fa', 'star fa-fw icon-gold', null, posters.top)|trim }}<span class="t-heading-right">{{ posters.posts }}</span></li>
		{% endfor %}
		</ul>
	{% endblock %}

{% endembed %}
