/* GZO Web Zodiac Configurations */
.c-gzo-col-3 {
	flex: 1;
	min-width: 265px;
	margin: 5px;
}

dl.details dt.c-gzo-dtzw {
	width: auto;
	/* color: #536482; */
}

dl.details dd.c-gzo-ddz {
	width: auto;
}
